/*Selector{
	properties: value;
}*/

body{
	background-image: url(pic.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
h2{
	color:rgb(253, 0, 0) ;
	font-family: 'Poor Story', cursive;
}
body{
	background-image: url(pic.jpg);
}

p{
	line-height: 40px;
	font-style: italic;
	
	font-family: 'Poor Story', cursive;
}

form{
	line-height: 40px;
	font-style: italic;
	
	font-family: 'Poor Story', cursive;
	}
